app:
  name: inews
  url: http://127.0.0.1 # Links inside reset password emails are generated based on this value
  httpPort: 80
  httpsPort: 443
  debug: true
  log: log

database:
  driver: sqlite # mysql, sqlite
  host: 127.0.0.1
  port: 3306
  database: inews
  username: user01
  password: a1234567

admin:
  email:
    - admin@gmail.com
    - admin123@gmail.com

email:
  sender: inewsforpharm@gmail.com
  region: us-east-1
  numPerDay: 50000
  numPerSec: 14
