{{ template "header" . }}
<body>
    {{ template "navbar" . }}
    <div class="block"></div>
    <div class="main-padding-container">
        <div class="block" style="text-align: center">
            <h2 class="title is-2 has-text-warning">About</h2>
        </div>
        <div class="tile block">
            對於藥業發展很有興趣的我們，在一次藥界前輩的講座中，深刻了解到學習閱聽國際新聞—尤其醫藥相關新聞的重要性。我們希望在花時間閱讀相關資訊的同時，也能幫助對藥界有興趣的同學們有一個比較好上手、用來跟上時事的管道。
        </div>
        <!-- <article class="message is-dark"> -->
        <!--   <div class="message-body"> -->
        <!--     對於藥業發展很有興趣的我們，在一次藥界前輩的講座中，深刻了解到學習閱聽國際新聞—尤其醫藥相關新聞的重要性。我們希望在花時間閱讀相關資訊的同時，也能幫助對藥界有興趣的同學們有一個比較好上手、用來跟上時事的管道。 -->
        <!--   </div> -->
        <!-- </article> -->
        <!-- <article class="message is-normal"> -->
        <!--     <div class="message-header"> -->
        <!--       <p>About</p> -->
        <!--       [> <button class="delete is-medium" aria-label="delete"></button> <] -->
        <!--     </div> -->
        <!--     <div class="message-body"> -->
        <!--         對於藥業發展很有興趣的我們，在一次藥界前輩的講座中，深刻了解到學習閱聽國際新聞—尤其醫藥相關新聞的重要性。我們希望在花時間閱讀相關資訊的同時，也能幫助對藥界有興趣的同學們有一個比較好上手、用來跟上時事的管道。 -->
        <!--     </div> -->
        <!-- </article> -->
        
        <div style="padding-bottom: 70px;"></div>
        <div class="block" style="text-align: center">
            <h2 class="title is-2 has-text-warning">Our Team</h2>
        </div>
        <div class="columns has-text-centered is-centered">
            <div class="column is-one-third">
                <figure class="image is-128x128" >
                  <img class="is-rounded" src="/assets/author_01.png">
                </figure>
                <br>
                <p class="title is-5">吐司編</p>
                <!-- <p class="subtitle is-7">Subtitle</p> -->
            </div>
            <div class="column is-one-third">
                <figure class="image is-128x128">
                  <img class="is-rounded" src="/assets/author_02.png">
                </figure>
                <br>
                <p class="title is-5">矮編</p>
                <!-- <p class="subtitle is-7">Subtitle</p> -->
            </div>
            <div class="column is-one-third">
                <figure class="image is-128x128">
                  <img class="is-rounded" src="/assets/author_03.png">
                </figure>
                <br>
                <p class="title is-5">這邊那編</p>
                <!-- <p class="subtitle is-7">Subtitle</p> -->
            </div>
        </div>
        <div style="padding-bottom: 30px;"></div>
    </div>
    {{ template "footer" . }}
</body>
