{{ template "header" . }}
<body>
    {{ template "navbar" . }}
    <div class="block"></div>
    {{ template "error_message_notification" . }}
    {{ template "notice_message_notification" . }}
    <div class="main-padding-container">
        <div class="block" style="text-align: center">
            <h2 class="title is-2 has-text-warning">{{ .title  }}</h2>
        </div>

        <div class="field">
          <label class="label">Title</label>
          <div class="control">
            <input class="input" type="text" name="title" placeholder="News title (max: 20 words)" autocomplete="off">
          </div>
          <p class="help is-danger" id="err_msg_title"></p>
        </div>

        <div class="field">
          <label class="label">Subtitle</label>
          <div class="control">
            <input class="input" type="text" name="subtitle" placeholder="News subtitle (max: 40 words)" autocomplete="off">
          </div>
          <p class="help is-danger" id="err_msg_subtitle"></p>
        </div>

        <div class="field">
          <label class="label">Date</label>
          <input class="input" type="date" name="date" value="2021-01-01" min="1960-01-01" max="2040-12-31">
          <p class="help is-danger" id="err_msg_date"></p>
        </div>

        <div class="field">
          <label class="label">Author</label>
            <div id='authors'>
              <input type='checkbox' name='authors' id='authors[0]' value='Irene'/>
              <label for='authors[0]'> Irene&nbsp;&nbsp;&nbsp; </label>
              <input type='checkbox' name='authors' id='authors[1]' value='Jasia'/>
              <label for='authors[1]'> Jasia&nbsp;&nbsp;&nbsp; </label>
              <input type='checkbox' name='authors' id='authors[2]' value='Yoto'/>
              <label for='authors[2]'> Yoto&nbsp;&nbsp;&nbsp; </label>
            </div>
            <p class="help is-danger" id="err_msg_authors"></p>
        </div>

        <div class="field">
          <label class="label">Category</label>
          <div class="control">
            <div class="select">
              <select name="category">
                <option>Medication</option>
                <option>Pharma</option>
              </select>
            </div>
          </div>
        </div>

        <div class="field">
            <label class="label">Tags</label>
            <div class="columns">
              <div class="column is-one-quarter">
                <div class="control">
                  <input class="input" name="tags" type="text" placeholder="Tags of the news">
                  <p class="help">Shift + enter to create a new tag</p>
                  <p class="help is-danger" id="err_msg_tags"></p>
                </div>
              </div>
              <div id="tags-list" class="column" style="margin-top: 4px; cursor: default">
                  <!-- <span class="tag is-warning is-medium" name="tags">Hello<button class="delete is-small"></button></span> -->
              </div>
            </div>
        </div>

        <div class="field">
          <label class="label">Content</label>
          <div class="control">
			<textarea class="textarea" name="content" id="content-text-area"></textarea>
            <p class="help is-danger" id="err_msg_content" style="margin-top: -22px;"></p>
          </div>
        </div>

        <div id='fileInputGroups' class="block">
          <div class='file has-name is-warning is-small pb-1'>
            <label class='file-label'>
              <input class='file-input' type='file'>
              <span class='file-cta'>
                <span class='file-icon'> 📂 </span>
                <span class='file-label'>Upload images</span>
              </span>
              <span class='file-name'>No image uploaded</span>
            </label>
          </div>
        </div>

        {{ if eq .function "create" }}
            <div class="field" style="display: flex">
              <div style="flex: 70%">
                <button class="button is-link" id="saveNowButton" style="margin-right: 10px; margin-bottom: 10px">Save Now</button>
                <button class="button is-link is-light" id="clearAutosaveButton" style="margin-right: 10px; margin-bottom: 10px;">Clear Autosave</button>
              </div>
              <div style="flex: 30%">
                <button class="button is-warning " id="submitButton" style="float: right">Submit</button>
              </div>
            </div>
            <div class="field">
              <p class="help">
                Notice: <br>
                &bull; Images will not be autosaved, and hence the link you get after uploading images will be invalid once you have left/reload this page. So make sure you <strong>re-upload images</strong> if continue editing.
                <br>
                 &bull; To discard autosave values (not values on the webpage), click the "Clear Autosave" button and reload the page.
              </p>
            </div>
        {{ else if eq .function "update" }}
            <div class="field" style="display: flex">
              <div style="flex: 70%">
                <button class="button is-link" id="saveNowButton" style="margin-right: 10px; margin-bottom: 10px">Save Now</button>
                <button class="button is-link is-light" id="clearAutosaveButton" style="margin-right: 10px; margin-bottom: 10px;">Clear Autosave</button>
              </div>
              <div style="flex: 30%">
                <button class="button is-warning" id="saveButton" style="float: right; margin-left: 10px; margin-bottom:10px;">Save</button>
                <button class="button is-warning is-light" id="cancelButton" style="float: right; margin-left: 10px; margin-bottom: 10px;">Cancel</button>
              </div>
            </div>
            <div class="field">
              <p class="help">
                Notice: <br>
                &bull; Images will not be autosaved, and hence the link you get after uploading images will be invalid once you have left/reload this page. So make sure you <strong>re-upload images</strong> if continue editing.
                <br>
                 &bull; To discard autosave values (not values on the webpage), click the "Clear Autosave" button and reload the page.
              </p>
            </div>
            <script>
                // TODO Replace following code block with the writeInputValue function
                document.getElementsByName("title")[0].value = '{{ .articleTitle }}';
                document.getElementsByName("subtitle")[0].value = '{{ .subtitle }}';
                document.getElementsByName("date")[0].value = '{{ .date }}';
                var authorList = {{ .author }}; // To make an array type variable, don't quote it
                [...document.getElementsByName("authors")].forEach((ele, idx) => {
                    if (authorList.includes(ele.value)) {
                        document.getElementsByName("authors")[idx].checked = true;
                    }
                });
                var cate = '{{ .category }}';
                [...document.getElementsByName("category")[0]].forEach((ele, idx) => {
                    if (ele.value.toLowerCase() == cate) {
                        document.getElementsByName("category")[0].selectedIndex = idx;
                    }
                });

                const encHTML = (val) => {
                  let e = document.createElement("textarea");
                  e.innerHTML = val;
                  return e.innerHTML;
                };
                var tags = {{ .tags }};
                var tagsHTMLHead = "<span class='tag is-warning is-medium' name='tags' style='margin-right: 9px;'>";
                var tagsHTMLTail = "<button class='delete is-small'></button></span>";
                var tagsBody = "";
                tags.forEach((t) => {
                    tagsBody += `${tagsHTMLHead}${encHTML(t)}${tagsHTMLTail}`
                });
                document.getElementById("tags-list").innerHTML = tagsBody;

                document.getElementsByName("content")[0].value = '{{ .content }}';
            </script>
        {{ end }}
    </div>
    {{ template "footer" . }}
    <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
	<script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script> <!--  Parse md to html -->
    <script src="/js/editor.js"></script>
</body>
