{{ template "header" . }}
<body>
    {{ template "navbar" . }}
    <div class="block"></div>
    {{ template "error_message_notification" . }}
    {{ template "notice_message_notification" . }}
    <div class="main-padding-container">
        <div class="block" style="text-align: center">
            <h2 class="title is-2 has-text-warning">{{ .title  }}</h2>
        </div>

        <div class="field">
          <label class="checkbox">
            <input type="checkbox" id="adminOnly">&nbsp;&nbsp;Only administrators can view this article
          </label>
        </div>

        <div class="field">
          <label class="label">Title</label>
          <div class="control">
            <input class="input" type="text" name="title" placeholder="News title (max: 20 words)" autocomplete="off">
          </div>
          <p class="help is-danger" id="err_msg_title"></p>
        </div>

        <div class="field">
          <label class="label">Subtitle</label>
          <div class="control">
            <input class="input" type="text" name="subtitle" placeholder="News subtitle (max: 40 words)" autocomplete="off">
          </div>
          <p class="help is-danger" id="err_msg_subtitle"></p>
        </div>

        <div class="field">
          <label class="label">Date</label>
          <input class="input" type="date" name="date" value="2021-01-01" min="1960-01-01" max="2040-12-31">
          <p class="help is-danger" id="err_msg_date"></p>
        </div>

        <div class="field">
          <label class="label">Author</label>
            <input type='checkbox' name='authors' id='authors[0]' value='Irene'/>
            <label for='authors[0]'> Irene&nbsp;&nbsp;&nbsp; </label>
            <input type='checkbox' name='authors' id='authors[1]' value='Jasia'/>
            <label for='authors[1]'> Jasia&nbsp;&nbsp;&nbsp; </label>
            <input type='checkbox' name='authors' id='authors[2]' value='Yoto'/>
            <label for='authors[2]'> Yoto&nbsp;&nbsp;&nbsp; </label>
            <p class="help is-danger" id="err_msg_authors"></p>
        </div>

        <div class="field">
          <label class="label">Category</label>
          <div class="control">
            <div class="select">
              <select name="category">
                <option>Medication</option>
                <option>Pharma</option>
              </select>
            </div>
          </div>
        </div>

        <div class="field">
            <label class="label">Tags</label>
            <div class="columns">
              <div class="column is-one-quarter">
                <div class="control">
                  <input class="input" name="tags" type="text" placeholder="Tags of the news">
                  <p class="help">Shift + enter to create a new tag</p>
                  <p class="help is-danger" id="err_msg_tags"></p>
                </div>
              </div>
              <div id="tags-list" class="column" style="margin-top: 4px; cursor: default">
              <!-- <span class="tag is-warning is-medium" name="tags">Hello<button class="delete is-small"></button></span> -->
              </div>
            </div>
        </div>

        <div class="field">
          <label class="label">Outline</label>
          <div class="control">
            <!-- If the input is pure Mandarin, the best maxlength is 232 -->
			<textarea class="textarea" name="outline" id="overview-text-area" maxlength="600" rows="3" placeholder="Recommend: 230 words (Mandarin) or 510 characters (English). Outline may be truncated to fit window size"></textarea>
            <span class='help'>If you want to break to a newline, type the <code>&lt;br&gt;</code> symbol</span>
          </div>
          <div class='file has-name is-warning is-small' style="padding-top: 10px;">
            <label class='file-label'>
              <input class='file-input' type='file' id='coverPhoto'>
              <span class='file-cta'>
                <span class='file-icon'> 📂 </span>
                <span class='file-label'>Upload cover photo</span>
              </span>
              <span class='file-name' id=coverPhotoName>No image uploaded</span>
            </label>
          </div>
          <p class="help">Image which displays on overview page</p>
        </div>

        <div class="field">
          <label class="label">Content</label>
          <div class="control">
			<textarea class="textarea" name="content" id="content-text-area"></textarea>
            <p class="help is-danger" id="err_msg_content" style="margin-top: -22px;"></p>
          </div>
        </div>

        <div id='filesGroupInContent' class="block">
          <div class='file has-name is-warning is-small pb-1'>
            <label class='file-label'>
              <input class='file-input' type='file'>
              <span class='file-cta'>
                <span class='file-icon'> 📂 </span>
                <span class='file-label'>Upload images</span>
              </span>
              <span class='file-name'>No image uploaded</span>
            </label>
          </div>
        </div>

        {{ if eq .function "create" }}
            <div class="field" style="display: flex">
              <div style="flex: 70%">
                <button class="button is-link" id="saveNowButton" style="margin-right: 10px; margin-bottom: 10px">Save Now</button>
                <button class="button is-link is-light" id="clearAutosaveButton" style="margin-right: 10px; margin-bottom: 10px;">Clear Autosave</button>
              </div>
              <div style="flex: 30%">
                <button class="button is-warning " id="submitButton" style="float: right">Submit</button>
              </div>
            </div>
        {{ else if eq .function "update" }}
            <div class="field" style="display: flex">
              <div style="flex: 70%">
                <button class="button is-link" id="saveNowButton" style="margin-right: 10px; margin-bottom: 10px">Save Now</button>
                <button class="button is-link is-light" id="clearAutosaveButton" style="margin-right: 10px; margin-bottom: 10px;">Clear Autosave</button>
              </div>
              <div style="flex: 30%">
                <button class="button is-warning" id="saveButton" style="float: right; margin-left: 10px; margin-bottom:10px;">Save</button>
                <button class="button is-warning is-light" id="cancelButton" style="float: right; margin-left: 10px; margin-bottom: 10px;">Cancel</button>
              </div>
            </div>
            <script>
                // TODO Replace following code block with the writeLocalStorageValue function
                document.querySelector("#adminOnly").checked = ('{{ .adminOnly }}' == 'true');
                document.getElementsByName("title")[0].value = '{{ .articleTitle }}';
                document.getElementsByName("subtitle")[0].value = '{{ .subtitle }}';
                document.getElementsByName("date")[0].value = '{{ .date }}';
                var authorList = {{ .author }}; // To make an array type variable, don't quote it
                [...document.getElementsByName("authors")].forEach((ele, idx) => {
                  if (authorList.includes(ele.value)) {
                    document.getElementsByName("authors")[idx].checked = true;
                  }
                });
                var cate = '{{ .category }}';
                [...document.getElementsByName("category")[0]].forEach((ele, idx) => {
                  if (ele.value.toLowerCase() == cate) {
                    document.getElementsByName("category")[0].selectedIndex = idx;
                  }
                });

                const encHTML = (val) => {
                  let e = document.createElement("textarea");
                  e.innerHTML = val;
                  return e.innerHTML;
                };
                var tags = {{ .tags }};
                var tagsHTMLHead = "<span class='tag is-warning is-medium' name='tags' style='margin-right: 8px; margin-bottom: 5px'>";
                var tagsHTMLTail = "<button class='delete is-small'></button></span>";
                var tagsBody = "";
                tags.forEach((t) => {
                  tagsBody += `${tagsHTMLHead}${encHTML(t)}${tagsHTMLTail}`
                });
                document.getElementById("tags-list").innerHTML = tagsBody;

                if ('{{ .coverPhoto }}' != '') {
                  document.querySelector("#coverPhotoName").textContent = '{{ .coverPhoto }}';
                }
                document.getElementsByName("outline")[0].value = '{{ .outline }}';
                document.getElementsByName("content")[0].value = '{{ .content }}';
            </script>
        {{ end }}
        <div class="field">
          <p class="help">
            Some tips for the content field:
          </p>
          <ul class="help" style="list-style-type:disc; text-align: left; margin-left: 16.4px">
            <li>
              The recommended image aspect ratio is 16x9
            </li>
            <li>
              Create a <strong>superscript</strong> (appears half a character above the normal line): <code>&lt;sup&gt;This is superscript&lt;/sup&gt;</code>
            </li>
            <li>
              Create a <strong>link</strong> that points to other place in the same article:
              <ol style="margin-left: 14.1px;">
                <li>
                  Create an anchor by <code>&lt;a name="mylink"&gt;&lt;/a&gt;</code>.
                </li>
                <li>
                  Create a link by <code>&lt;a href="#mylink"&gt;[Jump to link]&lt;/a&gt;</code>
                </li>
              </ol>
            </li>
            <li>
              Create a <strong>superscript that links to other content in the same article</strong>:
              <ol style="margin-left: 14.1px;">
                <li>
                  Create an anchor by <code>&lt;a name="mytitle"&gt;&lt;/a&gt;</code> (put it in front of the title).
                </li>
                <li>
                  Create a superscript link by <code>&lt;sup&gt;&lt;a href="#mytitle"&gt;[Jump to title]&lt;/a&gt;&lt;/sup&gt;</code>
                </li>
              </ol>
            </li>
            <li>
              Images will not be autosaved, and hence the link you get after uploading images will be invalid once you have left/reload this page. So make sure you <strong>re-upload images</strong> if continue editing.
            </li>
            <li>
              To discard autosave values (not values on the webpage), click the "Clear Autosave" button and reload the page.
            </li>
          </ul>
        </div>
    </div>
    {{ template "footer" . }}
    <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
	<script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script> <!--  Parse md to html -->
    <script src="/js/editor/fileUploadHandler.js"></script>
    <script src="/js/editor/tag.js"></script>
    <script src="/js/editor/editor.js"></script>
    <script src="/js/editor/autosave.js"></script>
</body>
