{{ template "header" . }}
<body>
    {{ template "navbar" . }}
    {{ template "error_message_notification" . }}
    {{ template "notice_message_notification" . }}
    <div class="block"></div>
    <div class="main-padding-container">
        <div class="block" style="text-align: center">
            <h2 class="title is-2 has-text-warning">{{ .title  }}</h2>
        </div>
        <div class="field">
          <p class="control has-icons-left">
            <input class="input" name="email" inputmode="email" type="email" placeholder="Email" autofocus>
            <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
            <p class="help is-danger" id="err_msg_email"></p>
          </p>
        </div>
        <div class="field">
          <p class="control has-icons-left">
            <input class="input" name="password" type="password" placeholder="Password">
            <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
            <p class="help is-danger" id="err_msg_password"></p>
          </p>
        </div>
        <div class="field" style="display: flex; flex-wrap: wrap; align-items:flex-end;">
            <button class="button is-warning" id="submit_button" style="margin-bottom: 7px; margin-right: 10px">Submit</button>
            <a href="/register" class="button is-link" style="margin-bottom: 7px; margin-right: 10px">Register</a>
            <a href="/password/reset" style="margin-bottom: 7px; color: #3d3d3d; font-size: small;">Forgot your password?</a>
        </div>
    </div>
    <div style="padding-top: 190px"></div>
    {{ template "footer" . }}
    <script src="/js/login.js"></script>
</body>
