{{ template "header" . }}
<body>
    {{ template "navbar" . }}
    {{ template "notice_message_notification" . }}
    {{ template "error_message_notification" . }}
    <div class="block"></div>
    <div class="main-padding-container">
        <div class="block" style="text-align: center">
            <h2 class="title is-2 has-text-warning">{{ .title  }}</h2>
        </div>
        <div id="articles-container">
            <div></div> <!-- Placeholder for appending new articles -->
        </div>
    </div>
    {{ template "footer" . }}
    <script src="/js/overview.js"></script>
</body>

<!--
Note: HTML Template Usage (Those fields should be exacte the same as Go's struct definition)
{{ if .articleList }}
    {{ range .articleList }}
        <div class="tile is-child box article-list-container">
            <div class="article-list-tag">
                {{ range $t := .Tags }}
                    <a href="/articles/tags?q={{ $t }}">
                        <span class="tag is-warning">{{ $t }}</span>
                    </a>
                {{ end }}
                <a href="/articles/{{ .Category }}">
                    <span class="tag is-primary">{{ .Category }}</span>
                </a>
                {{ if eq .AdminOnly true }}
                    <span class="tag is-danger">Admin Only</span>
                {{ end }}
            </div>
            <p class="title">{{ .Title }}</p>
        </div>
    {{ end }}
{{ end }}
-->
