{{ template "header" . }}
<body>
    {{ template "navbar" . }}
    {{ template "notice_message_notification" . }}
    <div class="block"></div>
    <div class="main_padding_container">
        <div class="block" style="text-align: center">
            <h2 class="title is-2 has-text-warning">{{ .title  }}</h2>
        </div>
        {{ if .articleList }}
            {{ range .articleList }}
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <!-- <div class="tile is-child box article-list-container" style="margin-bottom: 15px"> -->
                    <div class="tile is-child box article-list-container">
                        <div data-articleid="{{ .ID }}"></div>
                        <div class="article-list-tag">
                            {{ range $t := .Tags }}
                                <span class="tag is-warning">{{ $t }}</span>
                            {{ end }}
                            <a href="/articles/{{ .Category }}">
                                <span class="tag is-primary">{{ .Category }}</span>
                            </a>
                        </div>
                        <p class="title">{{ .Title }}</p>
                        <p class="subtitle">{{ .Subtitle }}</p>
                        <div class="columns overview-content"></div>
                    </div>
                </div>
            </div>
            <script>
                var isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);
                var title = "{{ .Title }}";
                if (isMobile && title.length > 55) {
                    title = title.substr(0, 55) + " ...";
                }
                title = title.replaceAll(' ', '&nbsp;');
                var titles = document.querySelectorAll('.title');
                titles[titles.length - 1].innerHTML = title;

                if (isMobile) {
                    var subtitle = "{{ .Subtitle }}".replaceAll(' ', '&nbsp;');
                    var subtitles = document.querySelectorAll('.subtitle');
                    subtitles[subtitles.length - 1].innerHTML = subtitle;
                }

                var content;
                var content_tag = document.querySelectorAll('.overview-content');
                var img = /<img.*>/.exec("{{ .Content }}"); // Note that there is a <p></p> tag surrounded 
                var img_add_class = '<img class="article-list-img-h" ';
                if (img != null) {
                    var img_tag = `<div class="column is-5" style="text-align: center;">` + img_add_class + img[0].substring(4, img[0].length-4) + '</div>'; // substring(): to remove "</p>"
                    content = '<div class="column is-7">' + '{{ .Content }}'.replaceAll(/<img.*>/g, '') + '</div>' + img_tag; // i: case insensitive. g: replace multiple occurrences
                } else {
                    content = '<div class="column is-12">' + '{{ .Content }}'.replaceAll(/<img.*>/g, '') + '</div>';
                }
                content_tag[content_tag.length - 1].innerHTML = content;
            </script>
            {{ end }}
        {{ else }}
            <script>
                showNoticeMsg('{{ .err }}');
            </script>
        {{ end }}
    </div>
    {{ template "footer" . }}
    <script src="/js/overview.js"></script>
</body>
