figure > img {
    max-height: 70%;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}
figure {
    margin-bottom: -15%;
}
.tag:not(.is-link) {
    background-color: #f6f6f6 !important;
    color: #363636 !important;
}
