/*
.tag:not(.is-link) {
   background-color: #f6f6f6 !important;
   color: #363636 !important;
}
*/

#modal-message {
    background-color: #fbfbfb;
    border-radius: 7px;
    position: fixed;
    width: 520px;
    max-width: 90%; /* For mobile devices */
    margin-left: max(-45%, -260px);
    height: 130px;
    margin-top: -65px;
    left: 50%;
    top: 50%;
    z-index: 1000;
    padding: 0.75rem; /* Otherwise the content's location is too high */
}

@media only screen and (hover: none) and (pointer: coarse) {
    #modal-message {
        padding: 0rem;
    }
}
