:root {
    /* --main-bg-color: #FEDF59; */
    --main-bg-color: #ffdf8a;
}

.main-padding-container {
    padding-left: 14rem;
    padding-right: 14rem;
    text-align: justify;
    text-justify: inter-word;
    /* text-justify: inter-ideograph; Only few browsers support this value*/
    line-height: 140%;
}

@media only screen and (hover: none) and (pointer: coarse) {
    .main-padding-container {
        padding-left: 25px;
        padding-right: 25px;
    }
}
