@media only screen and (hover: none) and (pointer: coarse) {
    .subtitle {
        display: none;
    }
}
.column.is-12 {
    padding-top: 0rem !important;
    padding-bottom: 0.8rem !important;
}
.column.is-8 {
    padding-top: 0rem !important;
    padding-bottom: 4.8rem !important;
}
.column.is-4 {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    text-align: right;
}
.tile.is-parent {
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    min-height: 140px;
    max-height: 350px;
}
.overview-content {
    max-height: 100px;
    overflow: hidden;
    padding-left: 6px; /* Get some space for content's numbered list */
}
.title,
.subtitle {
    padding-left: 6px; /* To align with content */
}
.article-list-img-h {
    height: 160px !important;
    width: 100%;
    max-width: 256px;
    height: 100% !important;
}
.article-list-tag {
    float: right;
    justify-content: space-between !important;
    position: relative !important;
    margin-left: 18px;
}
.article-list-container {
    max-height: 280px;
    overflow: hidden;
}
.tile > .title,
.tile > .subtitle,
.tile > .columns {
    cursor: default;
}
.tile > .article-list-tag {
    cursor: pointer;
}
