@media only screen and (hover: none) and (pointer: coarse) {
    .subtitle {
        display: none;
    }
}
.column.is-12 {
    padding-top: 0rem !important;
    padding-bottom: 0.8rem !important;
}
.column.is-8 {
    padding-top: 0rem !important;
    padding-bottom: 4.8rem !important;
}
.column.is-4 {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    text-align: right;
}
.tile.is-parent {
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    min-height: 140px;
    max-height: 350px;
    margin-bottom: 10px;
}
.article-list-container {
    max-height: 260px;
    overflow: hidden;
}
.overview-content {
    max-height: 114px;
    overflow: hidden;
}
.article-list-img-h {
    height: 160px !important;
    width: 100%;
    max-width: 256px;
    height: 100% !important;
}
.article-list-tag {
    justify-content: space-between !important;
    position: relative !important;
    margin-bottom: 5.3px;
    margin-left: 3.3px;
    text-align: left; /* To rewrite the justify value set by .main-padding-container */
    cursor: pointer;
}
.tag {
    margin-bottom: 3.3px;
    margin-right: 6px;
}
.tile > .title,
.tile > .subtitle,
.tile > .columns {
    cursor: default;
}
