{{ template "header" . }}
<body>
    {{ template "navbar" . }}
    {{ template "error_message_notification" . }}
    {{ template "notice_message_notification" . }}
    <div class="block"></div>
    <div class="main-padding-container">
        <div class="block" style="text-align: center">
          <h2 class="title is-2 has-text-warning">{{ .title  }}</h2>
        </div>
        <div style="min-width: 250px; width: 70%; margin-left: auto; margin-right: auto; border: 1.3px solid #EAEAEA; padding: 27px; border-radius: 7px;">
          <div class="field">
            <label class="label">Email</label>
            <p class="control has-icons-left">
              <input class="input" name="email" inputmode="email" type="email" autofocus required/>
              <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
            </p>
            <p class="help">Enter the email address associated with your account.</p>
            <p class="help is-danger" id="err_msg_email"></p>
          </div>
          <div class="field">
            <p class="control">
              <button class="button is-warning is-fullwidth" id="submitButton">Submit</button>
            </p>
          </div>
        </div>
    </div>
    <div style="padding-top: 300px"></div>
    <script src="/js/auth/passwordResetRequest.js"></script>
    {{ template "footer" . }}
</body>

