{{ define "error_message_notification" }}
<div class="notification is-danger is-light has-text-centered">
  <button class="delete"></button>
  <div id="notification_message"></div>
</div>
<style>
    .notification.is-danger {
        display: none;
        box-shadow: 3px 5px 2px 1px #555555;
        position: fixed;
        width: 400px;
        max-width: 94%; /* For mobile devices */
        margin-left: max(-47%, -200px);
        height: 86px;
        margin-top: -43px;
        left: 50%;
        top: 50%;
        z-index: 999;
    }
</style>
<script>
    const notification_message_tag = document.querySelector('#notification_message');
    const showErrMsg = (msgHead = "", msgBody = "") => {
        if (msgHead == "" && msgBody == "") {
            return;
        }
        notification_message_tag.innerHTML = `<div><p><strong>${msgHead}</strong></p><p>${msgBody}</p></div>`;
        notification_message_tag.parentNode.style.display='block';
    };
    const hideErrMsg = (e) => {
        notification_message_tag.innerHTML = '';
        e.target.parentNode.style.display = 'none';
    };
    document.querySelector('.notification.is-danger .delete').addEventListener('click', hideErrMsg);
    // (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
    //     const $notification = $delete.parentNode;
    //     $delete.addEventListener('click', () => {
    //         $notification.parentNode.removeChild($notification);
    //     });
    // });
</script>
{{ end }}
