{{ define "footer" }}
<div style="padding-top: 60px"></div>
<footer class="footer has-background-dark has-text-light is-size-6">
    <div class="content">
        <div class="columns">
              <div class="column is-2">
                <figure class="image is-128x128 ml-0">
                  <img src="/assets/logo_footer_white.png">
                </figure>
              </div>
              <div class="column is-3">
                  <!--
                  <div class="pb-1">
                      <a class="footer_link has-text-light" href="/about">About</a>
                  </div>
                  <div class="pb-1">
                      <a class="footer_link has-text-light" href="/contact-us">Contact Us</a>
                  </div>
                  -->
              </div>
              <div class="column is-5">
              </div>
              <div class="column is-2 has-text-left">
                  <div class="block">
                      <a href="https://instagram.com/i.newsforpharm?r=nametag" class="pr-4" target="_blank" rel="noopener noreferrer">
                          <span class="fab fa-instagram fa-2x" style="color: #F5F5F5"></span>
                      </a>
                      <!--
                      <a href="" class="pr-4">
                          <img src="/assets/instagram.png" width=24px>
                      </a>
                      -->
                  </div>
                  <div class="block">
                      &copy;&nbsp;2021 All rights reserved
                  </div>
              </div>
        </div>
    </div>
</footer>
{{ end }}
