{{ define "navbar" }}
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/articles/weekly-update">
      <img src="/assets/logo_navbar_black.png" style="margin-top: -10px" width="130" alt="Inews">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar_components">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbar_components" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/articles/weekly-update">
        Weekly Update
      </a>

      <div class="navbar-item has-dropdown is-hoverable has-text-warning"> <!-- Use is-active to show the dropdown list -->
        <a class="navbar-link" style="border-color: #3273dc;!important">
          More
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="/articles/medication">
            Medication
          </a>
          <a class="navbar-item" href="/articles/pharma">
            Pharma
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" href="/about">
            About
          </a>
          <div id="logoutParent" style="display: none">
            <hr class="navbar-divider">
            <a id="logoutSection" class="navbar-item">
              Logout
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="navbar-end">
     <div class="navbar-item">
       <a id="newPostBtn" class="button is-warning" style="display: none" href="/admin/create/article">New Post</a>
     </div>
     <div class="navbar-item">
       <a id="loginBtn" class="button is-warning" href="/login" style="display: none">Login</a>
       <a id="homeBtn" class="button is-warning" href="/home" style="display: none">Home</a>
     </div>
   </div>
</nav>
{{ end }}
