{{ define "one_image" }}
<div class="block px-2" style="max-width: 90%; max-height: 500px; overflow-y: hidden; margin-left: auto; margin-right: auto;">
    <figure class="image is-16by9">
        <img src="{{ .oneImageSrc }}">
    </figure>
</div>

{{ end }}
